/* Esta seccion es migajas */
.migajas{
  padding-left: 3%;
  font-size: 20px;
}

/* Aqui comienza css footer */

  .footer{
    background-color: gray;
    padding: 80px 0;
  }
  .footer-row{
    display: flex;
    flex-wrap: wrap;
  
  }
  .footer-links{
    width: 25%;
    padding: 0 15px;
  
  }
  .footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 19px;
    margin-left: 50px;
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    display: inline-block;
  }
  .footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 15px;
    transition: all .6s ease;
  }
  .footer-links ul li a {
  color: white;
  padding-left: 6px;
  
  }
  .social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 3px 10px 10px 12px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition:  all .5s ease;
  }
  .social-link a:hover{
    background-color: black;
  }
  @media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
  }

  td h6{
    width: 100%;
    height: 80px;
    overflow-y: auto;
    margin: 2px;
  }

  .espaciado{
    margin-bottom: 5%;
  }

#seccionExplicacion{
  /* margin: 5px, 0px, 8px,5px; */
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 1%;
}
.link-inicio{
  font-size: 20px;
  text-align: end;
  padding-right: 5%;
}