/* Esta seccion es migajas */
.migajas{
    padding-left: 3%;
    font-size: 20px;
  }
/* Aca termina migajas */

/* Aquí comienza el footer.css */
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: gray;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;

}
.footer-links{
    width: 25%;
    padding: 0 15px;

}
.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 19px;
    margin-left: 50px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 15px;
    transition: all .6s ease;
}
.footer-links ul li a {
color: white;
padding-left: 6px;

}
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 3px 10px 10px 12px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition:  all .5s ease;
}
.social-link a:hover{
    background-color: black;
}
@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

.card-text{
    font-family: 'Maven Pro', sans-serif;
}

.position{
    padding-left: 50px;
}

